Gorse-27232003-2026.aux
Gorse-27232003-2026.bbl
Gorse-27232003-2026.bcf
Gorse-27232003-2026.blg
Gorse-27232003-2026.fdb_latexmk
Gorse-27232003-2026.fls
Gorse-27232003-2026.idx
Gorse-27232003-2026.ilg
Gorse-27232003-2026.ind
Gorse-27232003-2026.log
Gorse-27232003-2026.out
Gorse-27232003-2026.run.xml
Gorse-27232003-2026.synctex.gz
Gorse-27232003-2026.toc
Gorse-27232003-2026.xmpdata
pdfa.xmpi
images/image.png
images/sample.pdf
Kratka_predstavitev/kratka_predstavitev.aux
Kratka_predstavitev/kratka_predstavitev.fdb_latexmk
Kratka_predstavitev/kratka_predstavitev.fls
Kratka_predstavitev/kratka_predstavitev.log
Kratka_predstavitev/kratka_predstavitev.nav
Kratka_predstavitev/kratka_predstavitev.out
Kratka_predstavitev/kratka_predstavitev.pdf
Kratka_predstavitev/kratka_predstavitev.snm
Kratka_predstavitev/kratka_predstavitev.synctex.gz
Kratka_predstavitev/kratka_predstavitev.tex
Kratka_predstavitev/kratka_predstavitev.toc
vsebina/napotki.tex
Gorse-27232003-2026.bcf
vsebina/napotki.tex
output.pdf
